extends layout

block content
  h1= title
  form(method="POST" action="/api/v1/addBulkNumberViaFile" enctype="multipart/form-data")
    input(type="file" name="groupfile")
    br
    input(type="checkbox" name="deleteOld" checked=(true===false ? "checked" : undefined))
    ="Delete Old Numbers"
    br
    button(type="submit") Upload
